<div class="container my-4">
  <%= render 'index', groups: @groups %>

  <div class="d-flex justify-content-center mt-4">
    <%= link_to "グループを作成する", new_group_path, class: "btn btn-outline-success rounded-pill btn-lg" %>
  </div>
</div>