<div class="container my-4 px-4 px-md-5 py-4 bg-white border rounded shadow-sm">
  <%= render 'layouts/error', obj: @group %>
  <h2 class="mb-4 text-center">グループ作成</h2>
  <%= render 'form', group: @group %>
</div>