<div class="row">
  <div class="col-12">
    <%= form_with model: genre, url: genre.persisted? ? admin_genre_path(genre) : admin_genres_path, method: genre.persisted? ? :patch : :post, local: true, class: "d-flex align-items-center gap-3" do |f| %>
      
      <%= f.label :name, "ジャンル名", class: "form-label mb-0" %>
      <%= f.text_field :name, class: "form-control w-50 ml-2", placeholder: "例：ロック、ポップス..." %>
      <%= f.submit btntxt, class: "btn btn-success ml-2 px-4 rounded-pill" %>

    <% end %>
  </div>
</div>