<div class="container my-5">
  <div class="row justify-content-center">
    <%= render 'layouts/error', obj: @genre %>
    <div class="col-lg-8 col-md-10">
      <h2 class="text-center mb-4 border-bottom pb-2">ジャンル管理</h2>

      <!-- ジャンル編集フォーム -->
      <div class="card shadow-sm p-4 mb-5">
        <h5 class="mb-3">ジャンルを編集</h5>
        <%= render 'admin/genres/form', genre: @genre, btntxt: @btn_text %>
      </div>
    </div>
  </div>
</div>