<div class="container-fluid position-relative">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-md-8">
      <h5>ジャンル一覧・追加</h5>
      <%= render 'admin/genres/form', genre: @genre, btntxt: @btn_text %>
  <div class="justify-content-center mt-4">
  <div class="col-6">
    <table class="table">
      <thead style="background-color: #E0E0E0; color: #333;">
        <tr>
          <th>ジャンル名</th>
          <th></th>
        </tr>
      </thead>
    <tbody>
       <% @genres.each do |genre| %>
        <tr>
          <td><%= genre.name %></td>
          <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
</div>