<p>投稿一覧</p>
<table>
  <tr>
    <th>投稿者イメージ</th>
    <th>投稿者</th>
    <th>タイトル</th>
    <th>関連ジャンル</th>
  </tr>
  <% @posts.each do |post| %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>