<p>アーティスト詳細ページ</p>
<p>アーティストに関連する投稿を一覧表示</p>

<div class="container my-5">
  <div class="row">
    <div class="col-md-6 text-center">
      <%= image_tag @artist.image.variant(resize: "350x350"), class: "img-fluid rounded", alt: @artist.name %>
    </div>

    <div class="col-md-6">
      <h2 class="font-weight-bold mb-3"><%= @artist.name %></h2>
      <p class="lead"><%= @artist.introduction %></p>
    </div>
  </div>
</div>