<% footer_class=if admin_signed_in? 
  "navbar navbar-expand-lg admin-footer"
elsif user_signed_in? 
  "navbar navbar-expand-lg user-footer"
else 
  "navbar navbar-expand-lg guest-footer" 
end %>
<footer class="<%= footer_class %>">
  <div class="container-fluid pt-5 min-vh-10">
    <div class="row">
      <div class="col">
        <p>
          <i class="fas fa-copyright"></i> 会社名 Vibin
        </p>
        <p>
          <i class="fas fa-phone-alt"></i> 電話番号 
        </p>
        <p>
          <i class="fas fa-envelope"></i> e-mail
        </p>
      </div>
      <div class="d-flex justify-content-end">
      <p>                
        <i class="fab fa-instagram fa-3x"></i>
        <i class="fab fa-pinterest fa-3x"></i>
      </p>
    </div>
    </div>
    <div class="text-center">
      <p>© Vibin 2025 HATA</p>
    </div>
  </div>
</footer>